@CHARSET "UTF-8";

#bg_canvas {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 1020px;
	height: 950px;
	left: 50%;
	margin-left: -510px;
	z-index: -1;
	background-color: #fff;
	-moz-box-shadow: 0 0 30px 3px #ccc;
	-webkit-box-shadow: 0 0 15px 3px #ccc;
	box-shadow: 0 0 15px 3px #ccc;
}

#main {
	position: absolute;
	left: 0px;
	top: 150px;
	width: 1000px; //
	height: 100px;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
}

#bg_canvas_new {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 1020px;
	left: 50%;
	margin-left: -510px;
	z-index: -1;
	background-color: #fff;
	-moz-box-shadow: 0 0 30px 3px #ccc;
	-webkit-box-shadow: 0 0 15px 3px #ccc;
	box-shadow: 0 0 15px 3px #ccc;
}

#main_new {
	position: absolute;
	left: 0px;
	top: 130px;
	width: 950px;
	height: 100px;
	left: 50%;
	margin-left: -475px;
	z-index: 1;
}

#main_previous {
	position: absolute;
	background-color: #fff;
	left: 0px;
	top: 140px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
}

/*Define the style of the title area of each area*/
.content_title {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 18px;
	margin: 10px;
	padding-left: 15px;
	padding-top: 5px;
	width: 965px;
	height: 30px;
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -360px;
	background-repeat: repeat-x;
	overflow: hidden;
	border: 1px solid #ccc;
}

.content_title_new {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 18px;
	margin: 10px;
	padding-left: 15px;
	padding-top: 5px;
	width: 905px;
	height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

#icon_address {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -412px;
	background-repeat: no-repeat;
	width: 28px;
	height: 30px;
	overflow: hidden;
}

#icon_order {
	background-image: url(../../picture/common/icons.png);
	background-position: -56px -412px;
	background-repeat: no-repeat;
	width: 28px;
	height: 30px;
	overflow: hidden;
}

#icon_payment {
	background-image: url(../../picture/common/icons.png);
	background-position: -82px -412px;
	background-repeat: no-repeat;
	width: 28px;
	height: 30px;
	overflow: hidden;
}

#icon_remark {
	background-image: url(../../picture/common/icons.png);
	background-position: -28px -412px;
	background-repeat: no-repeat;
	width: 28px;
	height: 30px;
	overflow: hidden;
}

#stages {
	background-image: url(../../picture/common/stage.jpg);
	background-position: -0px -520px;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 10px;
	width: 920px;
	height: 30px;
	overflow: hidden;
}

#stages_submit {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -551px;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 10px;
	width: 1000px;
	height: 20px;
	overflow: hidden;
}

#info_content {
	background-color: #fffaeb;
	border: solid 1px #fbe089;
	overflow: hidden;
	font-size: 14px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 965px;
}

#message_display {
	overflow: hidden;
	font-size: 14px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 755px;
	float: left;
}

#main_message {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	border-bottom: solid #ccc 1px;
	padding-bottom: 5px;
	font-size: 20px;
}

#order_summary_message {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-top: 10px;
	font-size: 16px;
}

#alert_message {
	border: 1px solid #ccc;
	background-color: #ffe495;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.checkOrderBtn {
	background-image: url(../../picture/common/icons.png);
	background-position: -156px -586px;
	background-repeat: no-repeat;
	height: 36px;
	width: 167px;
	over-flow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

#icon_done {
	background-image: url(../../picture/common/icons.png);
	background-position: -75px -634px;
	background-repeat: no-repeat;
	width: 65px;
	height: 60px;
	margin-top: 20px;
	margin-left: 35px;
	float: left;
	overflow: hidden;
}

.order_table {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	width: 885px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.order_detail_header {
	font-size: 15px;
	border-bottom: 1px solid #CCC;
	text-align: center;
	width: 180px;
	height:28px;
}

.order_detail_item {
	font-size: 13px;
	color: #666;
	text-align: center;
	line-height: 30px;
}

.order_detail_ordersum {
	font-size: 14px;
	color: red;
	text-align: center;
	line-height: 30px;
}

.order_detail_footer {
	font-size: 16px;
	border-top: 1px solid #CCC;
	text-align: right;
}

.order_detail_footer_time {
	font-size: 13px;
	border-top: 1px solid #CCC;
	text-align: left;
}

#payment_selection {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	color: #666;
	margin: 10px;
	padding-left: 15px;
	padding-top: 5px;
	width: 965px;
	height: 30px;
}

#remark {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	color: #666;
	margin: 10px;
	padding-left: 15px;
	padding-top: 5px;
	width: 965px;
	height: 30px;
}

#address {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	color: #666;
	margin: 10px;
	padding-left: 15px;
	padding-top: 5px;
	width: 920px;
	line-height: 25px;
}

#newAddress {
	width: 900px;
	padding-left: 15px;
	line-height: 25px;
}

.inputTel,.newaddr_input {
	border: 1px solid #ccc;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	color: #999;
	padding-left: 5px;
}

.newaddr_input {
	outline: none;
}

.inputTel {
	width: 301px;
	height: 30px;
	outline: none;
}

.submitBtn {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -586px;
	background-repeat: no-repeat;
	height: 36px;
	width: 140px;
	over-flow: hidden;
	float: right;
	margin-right: 30px;
}

#main_left_top,#main_left_center,#main_right_top,#main_right_center,#main_right_bottom
	{
	border: #CCC solid 1px;
	background-color: #fff;
}

#main_left_top {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 1000px;
	height: 200px;
	z-index: 1;
}

#main_left_center {
	position: absolute;
	left: 0px;
	top: 210px;
	width: 690px;
	z-index: 1;
}

#main_right_top {
	position: absolute;
	left: 700px;
	top: 210px;
	width: 300px;
	height: 200px;
	z-index: 2;
}

#main_right_bottom {
	position: absolute;
	left: 700px;
	top: 640px;
	width: 300px;
	height: 180px;
	z-index: 2;
}

#main_location_search {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 18px;
	margin: 10px;
}

#searchLabel {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 248px;
}

#searchInput {
	position: absolute;
	top: 5px;
	left: 190px;
	z-index: 3;
	border: 0px;
	width: 212px;
	/* Originally 232px ,miners padding left 10px and right 10px */
	height: 39px;
	background-image: url(../../picture/common/input_box_bg_232x39.png);
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	color: #666;
}

#searchButton {
	position: absolute;
	top: 10px;
	left: 420px;
	width: 139px;
	height: 30px;
	overflow: hidden;
}

/*  ***_content  定義每一個板塊征文部分的內容樣式 */
/* content_bgcolor 定義所有正文部分的公用樣式 */
.content_common {
	background-color: #fffaeb;
	border: solid 1px #fbe089;
	overflow: hidden;
	font-size: 14px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

.menu_content { /* Overide the common setting*/
	background-color: transparent;
	border: none;
	width: 653px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 5px;
}

.cart_content {
	width: 245px;
	height: 127px;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-right: 5px;
}

#menu {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#icon_menu {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -128px;
	background-repeat: no-repeat;
	width: 625px;
	height: 28px;
	overflow: hidden;
	font-size: 16px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-left: 35px;
	border-bottom: solid 1px #ccc;
}

#cart {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

#icon_cart {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -242px;
	background-repeat: no-repeat;
	width: 242px;
	height: 28px;
	overflow: hidden;
	font-size: 16px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-left: 35px;
	border-bottom: solid 1px #ccc;
}

.menu_category {
	/* background-image: url(../../picture/common/icons.png);
	background-position:5px -31px ;
	background-repeat:no-repeat;
	*/
	background-color: #fff;
	border-bottom: solid 1px #fbe089;
	width: 653px;
	height: 14px;
	overflow: hidden;
	font-size: 14px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.menu_odd {
	width: 290px;
	height: 30px;
	margin-left: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	float: left;
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -308px;
	background-repeat: no-repeat;
}

.menu_even {
	width: 290px;
	height: 30px;
	margin-left: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	float: left;
	/*
	background-image: url(../../picture/common/icons.png);
	background-position:-0px -308px ;
	background-repeat:no-repeat;
	*/
}

.toolTipCss {
	
}

#shop_img {
	position: absolute;
	top: 14px;
	left: 15px;
	border: 7px solid #ccc;
	width: 227px;
	height: 160px;
	overflow: hidden;
}

#shop_name {
	position: absolute;
	top: 12px;
	left: 265px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 20px;
	border-bottom: 2px solid #CCC;
	width: 700px;
	height: 35px;
	overflow: hidden;
}

#shop_info {
	position: absolute;
	top: 60px;
	left: 265px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	border: none;
	width: 700px;
	height: 35px;
	overflow: hidden;
}

/* root element for tabs  */
ul.css-tabs {
	margin: 0 !important;
	padding: 0;
	height: 30px;
	border-bottom: 1px solid #ccc;
}

/* single tab */
ul.css-tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
	float: left;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	display: block;
	padding: 5px 15px 5px 10px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-bottom: 0px;
	height: 18px;
	background-color: #efefef;
	color: #777;
	margin-right: 2px;
	position: relative;
	top: 1px;
	outline: 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul.css-tabs a:hover {
	background-color: #F7F7F7;
	color: #333;
}

/* selected tab */
ul.css-tabs a.current {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #000;
	cursor: default;
}

/* tab pane */
.css-panes div {
	display: none;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 1px;
	min-height: 360px;
	padding: 15px 20px;
	background-color: #fff;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#tab_1 {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -182px;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	overflow: hidden;
}

#tab_2 {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -210px;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	overflow: hidden;
}

.shopShow {
	width: 100px;
	height: 80px;
	overflow: hidden;
	padding-top: 25px;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
}

.shopShow a:link,a:visited {
	color: #666;
	text-decoration: none;
}

.shopShow a:hover {
	color: #000;
	text-decoration: none;
}

#shopBorder {
	align: center;
	border: solid 1px #ccc;
	width: 900px;
	margin-left: 20px;
	margin-bottom: 20px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    borde-radius: 15px;
}

.shopHead {
	color: #666;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	font-weight: bolder;
	margin-left: 17px;
	margin-right: 17px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.shopCartIcon {
	background-image: url(../../picture/common/icons.png);
	background-position: -60px -751px;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
	margin-right: 5px;
	overflow: hidden;
	float: left;
}

.backtoonlineres {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 14px;
	margin-top: -7px;
	margin-left: 10px;
	margin-bottom: -8px;
}

.alertRed {
	color: #666;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	margin-left: 17px;
	margin-right: 17px;
	margin-bottom: 5px;
	margin-top: 3px;
	background-color: #ffcccc;
	padding: 3px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    borde-radius: 15px;
}
.alertordersum {
	color: #666;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	margin-left: 17px;
	margin-right: 17px;
	margin-bottom: 5px;
	margin-top: 3px;
	background-color: #ffcccc;
	padding: 3px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    borde-radius: 15px;
}

.alertIcon {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -751px;
	background-repeat: no-repeat;
	height: 26px;
	width: 27px;
	margin-right: 15px;
	overflow: hidden;
	float: left;
}

.order_notes {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding: 5px;
	font-size: 13px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    borde-radius: 3px;
	border-color:#ff821a;
}

.ordersubmitcheckbutton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid :         DXImageTransform.Microsoft.gradient (      
		  startColorstr =    
		    '#ededed', endColorstr =         '#dfdfdf' );
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #693e69;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.ordersubmitcheckbutton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid :         DXImageTransform.Microsoft.gradient (      
		  startColorstr =    
		    '#dfdfdf', endColorstr =         '#ededed' );
	background-color: #dfdfdf;
}

.ordersubmitcheckbutton:active {
	position: relative;
	top: 1px;
}