@CHARSET "UTF-8";

#bg_canvas {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 1020px;
	left: 50%;
	margin-left: -510px;
	z-index: -1;
	background-color: #fff;
}

.bc_index_content {
	line-height: 68px;
	height: auto;
	width: 72%;
	margin-top: 5px;
	margin-left: 14%;
}

.bc_index_content {
	clear: both;
}

.bc_index_content #left {
	float: left;
	border: #00FF00 thin;
	border-style: solid;
	height: 620px;
	width: 650px;
	padding: 10px;
}

.bc_index_content #right {
	float: right;
	border: #00FF00 thin;
	border-style: solid;
	height: 620px;
	width: 250px;
	padding: 10px;
}

.bc_index_locationbox {
	border: #3399FF thin;
	border-style: solid;
	height: 380px;
	width: 645px;
	margin-bottom: 10px;
}

.bc_index_serviceintroduction {
	border: #3399FF thin;
	border-style: solid;
	height: 200px;
	width: 645px;
}

.bc_index_notice {
	border: #3399FF thin;
	border-style: solid;
	height: 180px;
	width: 240px;
	margin-bottom: 10px;
}

.bc_index_broadcast {
	border: #3399FF thin;
	border-style: solid;
	height: 230px;
	width: 240px;
	margin-bottom: 10px;
}

.bc_index_social {
	border: #3399FF thin;
	border-style: solid;
	height: 180px;
	width: 240px;
}

.addCartButton {
	cursor: pointer;
	font-size: 10px;
	text-align: center;
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -704px;
	background-repeat: no-repeat;
	width: 65px;
	height: 17px;
	overflow: hidden;
	padding-right: 5px;
	display: none;
}

.bc_index_locationbox #currentlocation {
	font-size: 24px;
	margin: 10px;
}

.bc_index_locationbox #currentlocation #locationleft {
	float: left;
}

.bc_index_locationbox #currentlocation #locationright {
	float: right;
	margin-right: 100px;
}

.bc_index_inputbox {
	height: 25px;
	width: 260px
}

#main {
	position: absolute;
	left: 0px;
	top: 126px;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	z-index: 1;
}

#main_left_top,#main_left_center,#main_right_top,#main_right_center,#main_right_bottom,#main_left_top_store
	{
	border: #CCC solid 1px;
	background-color: #fff;
}

#main_left_top {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 1000px;
	height: 200px;
	z-index: 1;
}

#main_left_top_store {
	position: absolute;
	left: 0px;
	top: 23px;
	width: 960px;
	height: 200px;
	z-index: 1;
}

#nav {
	position: absolute;
	left: 0px;
	top: -2px;
	width: 960px;
	height: 200px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	z-index: 2;
}

#main_left_center {
	position: absolute;
	left: 0px;
	top: 210px;
	width: 690px;
	z-index: 1;
}

#main_left_center_store {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 690px;
	z-index: 1;
}

#main_right_top {
	position: absolute;
	left: 700px;
	top: 210px;
	width: 300px;
	z-index: 2;
}

#main_right_top_store {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	position: absolute;
	left: 700px;
	top: 5px;
	width: 260px;
	z-index: 2;
}

#main_right_bottom {
	border: 0px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	position: absolute;
	left: 715px;
	top: 340px;
	width: 230px;
	z-index: 2;
}

#main_location_search {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 18px;
	margin: 10px;
}

#searchLabel {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 248px;
}

#searchInput {
	position: absolute;
	top: 5px;
	left: 190px;
	z-index: 3;
	border: 0px;
	width: 212px;
	/* Originally 232px ,miners padding left 10px and right 10px */
	height: 39px;
	background-image: url(../../picture/common/input_box_bg_232x39.png);
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	color: #666;
}

#searchButton {
	position: absolute;
	top: 10px;
	left: 420px;
	width: 139px;
	height: 30px;
	overflow: hidden;
}

#dstAds {
	position: absolute;
	left: 700px;
	top: 0px;
	width: 260px;
	z-index: 2;
}

/*  ***_content  瀹氱京姣忎竴鍊嬫澘濉婂緛鏂囬儴鍒嗙殑鍏у妯ｅ紡 */
/* content_bgcolor 瀹氱京鎵�湁姝ｆ枃閮ㄥ垎鐨勫叕鐢ㄦǎ寮�*/
.content_common {
	background-color: #fffaeb;
	border: solid 1px #fbe089;
	overflow: hidden;
	font-size: 14px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

.menu_content { /* Overide the common setting*/
	background-color: transparent;
	border: none;
	width: 653px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;
}

.cart_content {
	width: 223px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 3px;
	margin-top: 4px;
	margin-right: 5px;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    borde-radius: 7px;
	border: solid 1px #ff821a;
}

.cartTitle {
	border-bottom: solid 1px #ff821a;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	height: 25px;
}

.cartList {
	font-size: 12px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	height:20px;
}

#totalAmt {
	margin-top: 3px;
	width: 220px;
	border-top: solid 0px black;
	text-align: right;
	font-size: 15px;
	color: red;
	width: 220px;
}

#totalAmtFt {
	width: 220px;
	text-align: right;
	font-size: 20px;
	color: #c5241f;
}

#icon_checkout {
	background-image: url(../../picture/common/filliout_order.png);
	background-position: -0px -0px;
	background-repeat: no-repeat;
	height: 36px;
	width: 140px;
	overflow: hidden;
	margin-left: 55px;
	margin-top: 10px;
}

#icon_checkout a {
	display: block;
	width: 249px;
	height: 62px;
	cursor: hand;
}

#menu {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#recommend_food {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#icon_menu {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -126px;
	background-repeat: no-repeat;
	width: 625px;
	height: 28px;
	overflow: hidden;
	font-size: 16px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-left: 35px;
}

#cart {
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

#icon_cart {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -242px;
	background-repeat: no-repeat;
	width: 211px;
	height: 24px;
	overflow: hidden;
	font-size: 16px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-left: 28px;
}

.menu_category {
	background-color: #fff;
	border-bottom: solid 0px #FF8000;
	width: 653px;
	height: 14px;
	overflow: hidden;
	font-size: 15px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-top: 12px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.menu_odd {
	width: 290px;
	height: 30px;
	margin-left: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	float: left;
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -308px;
	background-repeat: no-repeat;
}

.menu_even {
	width: 290px;
	height: 30px;
	margin-left: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	float: left;
	/*
	background-image: url(../../picture/common/icons.png);
	background-position:-0px -308px ;
	background-repeat:no-repeat;
	*/
}

.toolTipCss {
	
}

.food_element {
	margin-top: 10px;
	margin-left: 9px;
	margin-bottom: 10px;
	width: 150px;
	height: 140px;
	float: left;
}

.element_name {
	width: 150px;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	text-align: center;
}

.element_photo {
	width: 148px;
	height: 98px;
	border: 2px solid #c7c5c5;
	overflow: hidden;
}

.element_price {
	width: 150px;
	color: #ad0203;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	text-align: center;
}

.loading_food {
	position: absolute;
	margin-left: 60px;
	margin-top: -65px;
	background-image: url(../../picture/common/ajax-loader.gif);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: none;
}

.iconDist {
	background-image: url(../../picture/common/icons.png);
	background-position: -256px -805px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	float: left;
	padding-right: 5px;
}

.iconStartPrice {
	background-image: url(../../picture/common/icons.png);
	background-position: -276px -804px;
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	overflow: hidden;
	float: left;
	padding-right: 5px;
}

.iconCreditCard {
	background-image: url(../../picture/common/icons.png);
	background-position: -276px -814px;
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	overflow: hidden;
	float: left;
	padding-right: 5px;
}

.iconTime {
	background-image: url(../../picture/common/icons.png);
	background-position: -238px -805px;
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	overflow: hidden;
	float: left;
	padding-right: 5px;
	margin-left: 10px;
}

.iconPaymentM {
	background-image: url(../../picture/common/icons.png);
	background-position: -294px -804px;
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	overflow: hidden;
	float: left;
	padding-right: 8px;
	margin-left: 10px;
}

.iconOrderButton_old {
	position: relative;
	top: -20px;
	left: -10px;
	background-image: url(../../picture/common/icons.png);
	background-position: -687px -597px;
	background-repeat: no-repeat;
	width: 65px;
	height: 24px;
	overflow: hidden;
	float: right;
}

.iconOrderButton_0 {
	position: relative;
	top: -20px;
	left: -10px;
	background-image: url(../../picture/common/icons.png);
	background-position: -687px -597px;
	background-repeat: no-repeat;
	width: 65px;
	height: 24px;
	overflow: hidden;
	float: right;
}

.iconOrderButton_1 {
	position: relative;
	top: -20px;
	left: -10px;
	background-image: url(../../picture/common/icons.png);
	background-position: -916px -597px;
	background-repeat: no-repeat;
	width: 65px;
	height: 24px;
	overflow: hidden;
	float: right;
}

.iconOrderButtonFood {
	position: absolute;
	top: 125px;
	margin-left: 85px;
	background-image: url(../../picture/common/icons.png);
	background-position: -687px -597px;
	background-repeat: no-repeat;
	width: 65px;
	height: 24px;
	overflow: hidden;
}

.iconCasher {
	background-image: url(../../picture/common/icons.png);
	background-position: -762px -597px;
	background-repeat: no-repeat;
	width: 65px;
	height: 24px;
	overflow: hidden;
}

.iconCasher a {
	display: block;
	width: 249px;
	height: 62px;
	cursor: hand;
}

.iconOKSmall {
	background-image: url(../../picture/common/icons.png);
	background-position: -172px -663px;
	background-repeat: no-repeat;
	width: 33px;
	height: 31px;
	overflow: hidden;
}

.rest_element {
	padding: 5px;
	margin-left: 9px;
	margin-bottom: 5px;
	width: 630px;
	height: 105px;
	float: left;
	background-color: #fffaeb;
}

.rest_name {
	width: 450px;
	font-size: 18px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	margin-left: 15px;
	float: left;
	border-bottom: solid 2px #fbc72a;
}

.rest_photo {
	width: 148px;
	height: 98px;
	border: 2px solid #c7c5c5;
	overflow: hidden;
	float: left;
}

.rest_photo img {
	width: 100%;
}

.rest_info {
	width: 450px;
	margin-left: 15px;
	margin-top: 15px;
	font-size: 13px;
	float: left;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#shop_img {
	position: absolute;
	top: 14px;
	left: 15px;
	border: 1px solid #ccc;
	width: 230px;
	height: 160px;
	overflow: hidden;
}

#shop_name {
	position: absolute;
	top: 12px;
	left: 265px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 20px;
	border-bottom: 2px solid #CCC;
	width: 660px;
	height: 35px;
	overflow: hidden;
	float: left;
}

#shop_info {
	position: absolute;
	top: 60px;
	left: 265px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	border: none;
	width: 700px;
	height: 35px;
	overflow: hidden;
}

#shop_intro {
	position: absolute;
	top: 90px;
	left: 285px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	width: 660px;
	height: 60px;
	overflow: hidden;
}

#shop_info_v2 {
	position: absolute;
	top: 60px;
	left: 265px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	border: none;
	width: 700px;
	height: 35px;
	overflow: hidden;
}

#subStoreInfo {
	position: absolute;
	top: 170px;
	left: 600px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	color: #999;
}

#shareButtons {
	position: absolute;
	top: 0px;
	left: 126px;
	width: 300px;
}

/* root element for tabs  */
ul.css-tabs {
	margin: 0 !important;
	padding: 0;
	height: 30px;
	border-bottom: 1px solid #ccc;
}

/* single tab */
ul.css-tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
	float: left;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	display: block;
	padding: 5px 15px 5px 10px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-bottom: 0px;
	height: 18px;
	background-color: #efefef;
	color: #777;
	margin-right: 2px;
	position: relative;
	top: 1px;
	outline: 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul.css-tabs a:hover {
	background-color: #F7F7F7;
	color: #333;
}

/* selected tab */
ul.css-tabs a.current {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #000;
	cursor: default;
}

/* tab pane */
.css-panes div {
	display: none;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 1px;
	min-height: 360px;
	padding: 15px 20px;
	background-color: #fff;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#tab_1 {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -182px;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	overflow: hidden;
}

#tab_2 {
	background-image: url(../../picture/common/icons.png);
	background-position: -0px -210px;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	overflow: hidden;
}

.shopCartIcon {
	background-image: url(../../picture/common/icons.png);
	background-position: -60px -751px;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
	margin-right: 5px;
	overflow: hidden;
	float: left;
}

.shopCartTitle {
	color: #666;
}

.shopCartRow {
	border-bottom: 1px solid #fbc62a;
	padding-top: 8px;
}

.shopShow {
	width: 100px;
	height: 80px;
	overflow: hidden;
	padding-top: 25px;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
}

#foodRecom {
	position: absolute;
	background-color: #fff;
	left: 0px;
	top: 0px;
	width: 690px;
	z-index: 1;
}

#restRecom {
	position: absolute;
	background-color: #fff;
	left: 0px;
	top: 200px;
	width: 690px;
	z-index: 1;
}

.shopShow a:link,a:visited {
	color: #666;
	text-decoration: none;
}

.shopShow a:hover {
	color: #000;
	text-decoration: none;
}

.iconThumb {
	background-image: url(../../picture/common/icons.png);
	background-position: -211px -796px;
	background-repeat: no-repeat;
	height: 23px;
	width: 23px;
	overflow: hidden;
	float: left;
}

.txtRecom {
	font-size: 16px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	padding-left: 30px;
	padding-top: 3px;
}

.hrline {
	background-color: #fbc72a;
	width: 650px;
	border: none;
	height: 2px;
	margin-top: 3px;
}

.hrlineRest {
	background-color: #fbc72a;
	width: 650px;
	border: none;
	height: 2px;
}

#locCon {
	position: absolute;
	left: 0px;
	top: 140px;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
}

#locationBar {
	position: absolute;
	right: 0px;
	top: -100px;
}

.stickyFont {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	color: #666;
}

.iconError {
	background-image: url(../../picture/common/icons.png);
	background-position: -600px -673px;
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	overflow: hidden;
	float: left;
	margin-right: 4px;
}

.msgError {
	border: red solid 1px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	padding: 1px;
	margin-top: 4px;
	color: red;
	background-color: #fcd5d5;
}

#copMsg {
	width: 655px;
	border: #999 solid 1px;
	padding: 2px;
	margin-top: 5px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
}

.catMsg {
	float: left;
	width: 655px;
	padding: 2px;
	margin-top: 0px;
	margin-bottom: 3px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 13px;
	font-weight:bold;
	background-color: #ff821a;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    borde-radius: 7px;
}

.rest-tab {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	float: left;
	color:#00AEAE;
	margin-right: 8px;
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    borde-radius: 20px;
}



.rest-tab-activated {
	float: left;
	margin-right: 8px;
	background-color: #ff821a;
	color:#fff;
	border: 1px solid #ff821a;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

#statBtn {
	display: none;
	position: absolute;
	top: 57px;
	left: 580px;
	background-image: url(../../picture/common/likebutton.png);
	background-repeat: no-repeat;
	width: 90px;
	height: 27px;
	overflow: hidden;
}

#statBtnTotal {
	display: none;
	position: absolute;
	top: 65px;
	left: 612px;
	width: 15px;
	height: 10px;
	overflow: hidden;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 9px;
}

#statBtnYesterday {
	display: none;
	position: absolute;
	top: 65px;
	left: 650px;
	width: 15px;
	height: 10px;
	overflow: hidden;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 9px;
}

.restClosedFlag_0 {
	background-image: url(../../picture/common/icons.png);
	background-position: -840px -597px;
	background-repeat: no-repeat;
	width: 64px;
	height: 25px;
	overflow: hidden;
}

.restClosedFlag_1 {
	background-image: url(../../picture/common/icons.png);
	background-position: -916px -597px;
	background-repeat: no-repeat;
	width: 64px;
	height: 25px;
	overflow: hidden;
}

.content_menu {
	display: none;
}