@CHARSET "UTF-8";

#main {
	position: absolute;
	left: 0px;
	top: 140px;
	width: 1000px;
	height: 360px;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
	background-color: #fff;
}

#bg_canvas {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 1020px;
	height: 680px;
	left: 50%;
	margin-left: -510px;
	z-index: -1;
	background-color: #fff;
}

#left_menu {
	position: absolute;
	top: 38px;
	left: 20px;
	width: 203px;
	height: 40px;
	z-index: 1;
}

.tr_d {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #999;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

.tr_d_2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #999;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

.tr_d_t {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

.sep {
	width: 700px;
	height: 2px;
	overflow: hidden;
	background-color: #ccc;
}

.sep_addr {
	position: relative;
	top: 4px;
	left: 0px;
}

.sep_inv {
	position: relative;
	top: -9px;
	left: 0px;
}

.commentTbl {
	width: 700px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 13px;
}

.orderTbl {
	width: 650px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 13px;
}

.addressTbl {
	width: 700px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 13px;
}

.orderTh {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ccc;
	color: #333;
	font-weight: bolder;
}

.orderTd {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}

.orderTf {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 2px solid #ccc;
}

.commentTd {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}

.commentShopName {
	color: #e9b108;
}

.addressTd {
	padding-top: 5px;
	padding-bottom: 5px;
}

.addressTdNnew {
	padding: 3px;
}

.defaultIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -207px -728px;
	background-repeat: no-repeat;
	height: 18px;
	width: 66px;
	overflow: hidden;
	float: left;
}

.setDefaultIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -277px -728px;
	background-repeat: no-repeat;
	height: 18px;
	width: 66px;
	overflow: hidden;
	float: left;
}

.editIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -67px -728px;
	background-repeat: no-repeat;
	height: 18px;
	width: 66px;
	overflow: hidden;
	float: left;
}

.deleteIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -137px -728px;
	background-repeat: no-repeat;
	height: 18px;
	width: 66px;
	overflow: hidden;
	float: left;
}

.deleteIconTab {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -137px -728px;
	background-repeat: no-repeat;
	height: 18px;
	width: 66px;
	overflow: hidden;
}

.inputDefault {
	width: 450px;
	border: 0px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	margin-left: 5px;
}

.inputEdit {
	width: 450px;
	border: 1px solid #ccc;
	background-color: #f9fd80;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	margin-left: 5px;
}

#savePasswordButton {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -478px -585px;
	background-repeat: no-repeat;
	height: 37px;
	width: 98px;
	overflow: hidden;
	float: right;
	margin-right: 45px;
	margin-top: 0px;
}

#saveEmailButton {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -478px -585px;
	background-repeat: no-repeat;
	height: 37px;
	width: 98px;
	overflow: hidden;
	float: right;
	margin-right: 45px;
	margin-top: 0px;
}

#saveAddressButton {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -478px -585px;
	background-repeat: no-repeat;
	height: 37px;
	width: 98px;
	overflow: hidden;
	float: right;
	margin-right: 45px;
	margin-top: 0px;
}

#inv_icon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -552px -785px;
	background-repeat: no-repeat;
	height: 35px;
	width: 30px;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 250px;
	float: left;
}

#inv_word {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -549px -831px;
	background-repeat: no-repeat;
	height: 21px;
	width: 105px;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 5px;
	float: left;
}

#fav_icon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -30px -785px;
	background-repeat: no-repeat;
	height: 35px;
	width: 39px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 250px;
	float: left;
}

#fav_word {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -0px -831px;
	background-repeat: no-repeat;
	height: 21px;
	width: 105px;
	overflow: hidden;
	margin-top: 35px;
	margin-left: 5px;
	float: left;
}

#account_icon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -168px -785px;
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 250px;
	float: left;
}

#account_word {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -325px -831px;
	background-repeat: no-repeat;
	height: 21px;
	width: 105px;
	overflow: hidden;
	margin-top: 35px;
	margin-left: 5px;
	float: left;
}

#order_icon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -0px -785px;
	background-repeat: no-repeat;
	height: 35px;
	width: 28px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 250px;
	float: left;
}

#order_word {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -109px -831px;
	background-repeat: no-repeat;
	height: 21px;
	width: 99px;
	overflow: hidden;
	margin-top: 35px;
	margin-left: 10px;
	float: left;
}

#address_icon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -123px -785px;
	background-repeat: no-repeat;
	height: 35px;
	width: 36px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 250px;
	float: left;
}

#address_word {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -440px -831px;
	background-repeat: no-repeat;
	height: 21px;
	width: 99px;
	overflow: hidden;
	margin-top: 35px;
	margin-left: 10px;
	float: left;
}

#comment_icon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -76px -785px;
	background-repeat: no-repeat;
	height: 35px;
	width: 43px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 250px;
	float: left;
}

#comment_word {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -218px -831px;
	background-repeat: no-repeat;
	height: 21px;
	width: 99px;
	overflow: hidden;
	margin-top: 35px;
	margin-left: 5px;
	float: left;
}

#commentContainer { /*border: 1px solid black;*/
	margin-top: 75px;
	margin-left: 250px;
	margin-bottom: 40px;
	width: 700px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#passwordEdit { /*border: 1px solid black;*/
	margin-top: 75px;
	margin-left: 250px;
	margin-bottom: 10px;
	width: 700px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#emailEdit { /*border: 1px solid black;*/
	margin-top: 45px;
	margin-left: 250px;
	width: 700px;
	margin-bottom: 10px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#currentAddress { /*border: 1px solid black;*/
	margin-top: 75px;
	margin-left: 250px;
	margin-bottom: 40px;
	width: 700px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#newAddress { /*border: 1px solid black;*/
	margin-top: 15px;
	margin-left: 250px;
	width: 700px;
	margin-bottom: 20px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#passwordIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -176px -861px;
	background-repeat: no-repeat;
	height: 18px;
	width: 78px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#emailIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -263px -861px;
	background-repeat: no-repeat;
	height: 18px;
	width: 78px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#currentAddressIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -1px -861px;
	background-repeat: no-repeat;
	height: 18px;
	width: 78px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#newAddressIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -87px -861px;
	background-repeat: no-repeat;
	height: 18px;
	width: 78px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#todayOrderIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -355px -861px;
	background-repeat: no-repeat;
	height: 18px;
	width: 78px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#pastOrderIcon {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -441px -861px;
	background-repeat: no-repeat;
	height: 18px;
	width: 78px;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#orderTabs { /*border: 1px solid black;*/
	margin-top: 75px;
	margin-left: 250px;
	margin-bottom: 40px;
	width: 700px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

/*Tabs*/

/* root element for tabs  */
ul.css-tabs {
	margin: 0 !important;
	padding: 0;
	height: 30px;
	border-bottom: 1px solid #ccc;
}

/* single tab */
ul.css-tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
	float: left;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	display: block;
	padding: 5px 15px 5px 10px;
	text-decoration: none;
	border: 1px solid #ccc;
	border-bottom: 0px;
	height: 18px;
	background-color: #efefef;
	color: #777;
	margin-right: 2px;
	position: relative;
	top: 1px;
	outline: 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul.css-tabs a:hover {
	background-color: #F7F7F7;
	color: #333;
}

/* selected tab */
ul.css-tabs a.current {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #000;
	cursor: default;
}

/* tab pane */
.css-panes div {
	display: none;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 1px;
	min-height: 260px;
	padding: 15px 20px;
	background-color: #fff;
	font-size: 13px;
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
}

#tab_1 {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -0px -182px;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	overflow: hidden;
}

#tab_2 {
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -0px -210px;
	background-repeat: no-repeat;
	padding-left: 30px;
	height: 20px;
	overflow: hidden;
}

.inputCmt {
	border: 1px solid #ccc;
	width: 250px;
	height: 30px;
	font-size: 18px;
	color: #999;
}

#btnInv {
	position: relative;
	top: 10px;
	background-image: url(../../picture/hk.franks.newsletter.common/icons.png);
	background-position: -473px -652px;
	background-repeat: no-repeat;
	width: 111px;
	height: 39px;
	overflow: hidden;
}

.invInfo {
	font-family: "微软雅黑", "黑体", "Lucida Sans Unicode", "Lucida Grande",
		sans-serif;
	font-size: 15px;
	font-size: 15px;
	color: #999;
}
